
/*  Fonts  */


@font-face {
    font-family: 'HoneyLight';
    src: url('../fonts/honeyscript-light-webfont.eot');
    src: url('../fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/honeyscript-light-webfont.ttf') format('truetype'),
         url('../fonts/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*  Header  */
#header_geral{
	width: 100%;
	height: auto;
	/*background: #f4c995;*/
	background-color: rgba(0, 93, 125, 0.2) !important;
	z-index: 9999;
}

#header_geral .h_logo{
	float: left;
	width: 9%;
	margin-top: 13px;
}

#header_geral nav{
	float: right;
	margin-top: 23px;
	overflow: hidden;
}
#header_geral nav ul li{
	float: left;
	margin-left: 30px;
}

#header_geral nav ul li a{
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
}

#header_geral nav ul li a:hover{
	color: rgba(233,236,229,1);
}

#header_geral h1
{
	float: left;
	margin-top: 20px;
	font-size: 17px;
	color: white;
	padding-left: 200px;
}




/*  Billboard  */
.billboard-body{
	width: 100%;
	height: 600px;
	background: url('../img/fundo4.jpg') center fixed;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.billboard-body-userpage{
	width: auto;
	height: auto;
	padding-left: 250px;
	padding-right: 250px;
	padding-bottom: 50px;
	padding-top: 50px;

	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  	
  
}

.billboard-header{
	width: 100%;
	height: 60px;
	background: rgba(0, 93, 125, 0.2) !important ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.caption{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 240px;
}

.caption .cap_title{
	font-family: 'LatoBold', arial;
	font-weight: Bold;
	font-size: 50px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.caption .cap_desc{
	font-family: 'HoneyLight';
	font-size: 50px;
	color: #ffffff;
	margin-top: 10px;
}

.homepage_logo {
	width: 350px;
    height: auto;
}



.main{
	height: 50000px;
}


/*  Services  */

.services .S_icons span{
	margin-top: -80px;
	padding-left: 80px;
	
	margin-bottom: 30px;
	font-size: 100px;

}

.services hr.sp{
	display: inline-block;
	width: 230px;
	height: 10px;
	border: 0;
	background: url('../img/separator.png') no-repeat;
	margin-bottom: 75px;
	margin-left: -4px;
}

.services img{
	margin-left: -4px;
}



.services .desc{
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}

.services .desc li{
	list-style: none;
	float: left;
	width: 235px;
	height: auto;
	text-align: center;
	margin-right: 155px;
	margin-top: 100px;
}

.services .desc li:first-child{
	margin-left: 22px;
}

.services .desc li:last-child{
	margin-right: 0;
}

.services .desc li span{
	font-size: 100px;
	margin-bottom: 50px;
}

.services .desc li h3{
	font-family: 'LatoBold', arial;
	font-weight: bold;
	font-size: 25px;
	color: #646363;
	margin-bottom: 20px;
}

.services .desc li p{
	font-family: 'LatoRegular', arial;
	font-size: 14px;
	color: #7e7e7e;
	line-height: 20px;
}





/* Call To Action Style */
.call_to_action{
	width: 100%;
	height: 460px;
	background: url('../img/fundo3.jpg') no-repeat center fixed;
	overflow: hidden;
	margin: 80px 0;

	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.call_to_action img{
	width: auto;
	margin-top: 73px;
	margin-left: -99px;
	float: left;
}
.call_to_action .cta_desc{
	width: auto;
	text-align: center;
	margin-top: 130px;

}

.call_to_action h3{
	
	font-weight: bold;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: .5px;
	margin-bottom: 30px;
}

.call_to_action p{
	
	color: white;
	font-size: 16px;
	letter-spacing: .5px;
	line-height: 25px;
	margin-bottom: 50px;
}

.call_to_action a.cta_btn{
	padding: 15px 40px;
	display: inline-block;
	color: #fff;
	font-family: "LatoBold", arial;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;

	background-color: #eba151;

	box-shadow: 0 3px 0 #cd8335;
	-moz-box-shadow: 0 3px 0 #cd8335;
	-webkit-box-shadow: 0 3px 0 #cd8335;
	-o-box-shadow: 0 3px 0 #cd8335;
}

.call_to_action a.cta_btn:hover{
	background: #e69b4c;
}

.call_to_action button{

}




/*  Footer  */
footer{
	position: absolute;
    width: 100%;
    padding: 30px 0;
    background-color: rgba(179,194,191,0.9);
    text-align: center;
    height: auto;
    bottom: 0;
}

footer nav{
	width: 100%;

}

footer nav ul li{
	list-style: none;
	display: inline-block;
	margin: 2px 0 20px 0;
}

footer nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding:2px;
}


footer hr.footer_sp{
	width: 370px;
	height: 1px;
	background-color: #333;
	border: none;
	margin: 0 auto;
	margin-bottom: 20px;
}

footer .rights{
	color: white;
	font-size: 13px;
	letter-spacing: .5px;
}

footer .rights a{
	color: white;
	text-decoration: none;
}


footer nav ul li a:hover,
footer .rights a:hover{
	color: rgba(233,236,229,1);
}




/*  General CSS*/
.wrapper{
	width: 1060px;
	height: auto;
	margin: 0 auto;
}


footer nav ul li a,
footer .rights a,
header nav ul li a,
.call_to_action a.cta_btn,
.testimonials a.author,
.newsletter .submit_nl{
	transition: .2s linear;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #666;}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}


.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px;  font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:9.5px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;}
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Event form */
.event-form {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.event-form h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.event-form h1>span {
    display: block;
    font-size: 11px;
}

.event-form #onoffstate{
  border-bottom:1px solid #E4E4E4;
}
.event-form h2 {
    font-size: 20px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.event-form h2>span {
    display: block;
    font-size: 11px;
}

.event-form section{
  display: block;
  border-bottom:1px solid #E4E4E4;
}
.event-form label {
    display: block;
    margin: 0px;
}
.event-form label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.event-form input[type="text"], .event-form input[type="email"], .event-form textarea, .event-form select,.event-form input[type="date"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.event-form textarea{
    padding: 5px 3px 3px 5px;
}
.event-form select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.event-form textarea{
    height:100px;
}
.event-form .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.event-form .button:hover {
    background: #CF7A7A
}

.onoffswitch {
    position: relative; width: 95px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Public";
    padding-left: 11px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Private";
    padding-right: 11px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 61px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

#results div {
  margin: 20px;
}

#results ul {
  list-style-type: none;
  width: 500px;
}

#results h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#results li img {
  float: left;
  margin: 0 15px 0 0;
}

#results li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#results li {
  padding: 10px;
  overflow: auto;
}

#results li a{
  color: #646363;
}

#results img{
  width: 130px;
}

#results li:hover {
  background: #eee;
  cursor: pointer;
}

/*Events list*/
.photo-grid {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;
}

.photo-grid li {
	border: 5px solid white;
	display: inline-block;
	margin: 1em;
	width: 289px;
}

.photo-grid img {
	display: block;
	width: 100%;
  	height: auto;
  	min-height: 100%;
  	min-width: 100%;
  	object-fit: cover;
}

.photo-grid figure {
	background-color: #f1f1f1;
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 289px;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid li:hover figcaption p{
	opacity: 1;
}


.photo-grid figcaption p {
	opacity: 0;
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.photo-grid figcaption {
	background: rgba(193,223,218,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

figure .title {
	height: 35px;
	background-color: rgba(61,58,63,1);;
	font-size: 20px;
	padding: 3px;
    color: white;
    position: relative;
}

figure .title p{
	font-size: 10px;
	padding: 3px;
    color: #f1f1f1;
}

.title #t {
	position: absolute;
	left:0;
	width:240px;
	height: auto;
}

.title #t h1{

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title #t p {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.date {
	background-color: #e8ece5;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: auto;
	text-align: right;
	text-align: center;
}

.date #day{
	background-color: #b2c2bf;

}

.date #month {
	color: #3D3A3F;
}

.photo-grid a {
	text-decoration: none;
}

.info {
	background-color: rgba(178,194,191,0.8);
	position: absolute;
	bottom: 0;
	padding: 10px;
	width: 269px;
	height: auto;
}

input[type="submit"] {
    font-family: FontAwesome;
}



#userpageTitle{

	size: 20%;

}

#userEvents{

	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;

}


#results div, #resultsUsername div {
  margin: 20px;
}

#results ul, #resultsUsername ul {
  list-style-type: none;
  width: 500px;
}

#results h3, #resultsUsername h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#results li img {
  float: left;
  margin: 0 15px 0 0;
}

 #results li p #resultsUsername li p{
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#results li , #resultsUsername li{
  padding: 10px;
  overflow: auto;
}

#results li a, #resultsUsername li a{
  color: #646363;
}

#results img{
  width: 130px;
}

#results li:hover , #resultsUsername li:hover{
  background: #eee;
  cursor: pointer;
}


#userEvents a{

	color: #646363;
	text-decoration: none;
}

#userEvents a:hover{

	color: rgba(179,194,191,0.9);
}

/* Show Event */

.title_event {
	position: relative;
	height: 130px;
	background-color: #b2c2bf;
}

.event-show {
	text-shadow: none;
	font-family: 'Source Sans Pro', sans-serif;
    max-width: 1000px;
}

.event-show h1 {
	margin: 0;
	font-size: 50px;
	padding-top: 10px;
    padding: none;
    display: block; 
    border-bottom: none;
    margin: none;
    color: #3d3a35;
}

.event-show	p {
	padding-left: 40px;
	font-size: 20px;
}

.date#show {
	width: 100px;
	height: 100%;
	display: table;
	overflow: hidden;
}

.date_wrapper {
display: table-cell;
vertical-align: middle;
}

.date_wrapper #dayy {
	color: #b2c2bf;
	font-size: 30px;
}

.date_wrapper #monthh {
	color: #3d3a35;
	font-size: 30px;
}

.info_event {
	padding-top: 20px;
}

.info_event h2 {
	margin-bottom: 10px;
}

.info_event p {
	padding-top: 0;
}

.picture_event {
	width: 100%;
	height: auto;
	float: left;
}

.picture_event div {
	margin-bottom: 10px;
	position: relative;
	width: 49%;
    height: 250px;
}

.picture_event div img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	max-width: 100%;
    max-height: 100%;
}

.fb-share {
	padding-top: 3px;
	padding-right: 105px;
	float: right;
}

.show_attendants {
	text-align:center;
}

.show_attendants .attendancies {
	padding-top: 20px;
	padding-bottom: 20px;
}

.show_attendants ul {
	list-style-type: none;
}

.goingornot {
	text-align:center;
	border: none;
}

.goingornot form{
	border: none;
}

.comments h2{
	padding-bottom: 0px;
    padding-top: 40px;
}

.comments p{
	padding-bottom: 20px;
}

.delete_event {
	text-align:center;
}

.delete_event form {
	border: none;
}

.desc li {
	padding-bottom: 70px;
}

.desc i {
	padding-bottom: 30px;
}

/* Edit Event */

.event_edit {
    text-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
}

#event_name_done_btn_dynamic, #event_description_done_btn_dynamic,
#event_local_done_btn_dynamic {
	margin-bottom: 30px;
    margin-left: 30px;
}

#event_type_done_btn_dynamic, #event_date_done_btn_dynamic {
 position: absolute;
 z-index: 999;
 margin-top: 10px;
}

.event_edit h1, .event_edit h2, .event_edit section {
	border-bottom: 0;
}

.event_edit button {
	background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

.event_edit .results-usernames-btn {
	background: #BAC8C5;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #BAC8C5;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #BAC8C5;
    cursor: pointer;
}

.event_edit i {
	background-color: white;
	color: black;
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}








